/* Basic CSS */
.login-section {
  padding: 60px 0 60px;
}
.loginbox {
  width: 500px;
  max-width: 100%;
  margin: auto;
  padding: 40px 32px;
  box-shadow: 0px 2px 8px #0000000f;
  border: 1px solid #ecede7;
  border-radius: 15px;
  position: relative;
}
.loginbox figure {
  text-align: center;
  margin: 0 0 20px;
}
.loginbox h2 {
  font-size: 36px;
  font-weight: 500;
  color: #000000;
  margin: 0 0 5px;
  text-align: center;
}
.loginbox p {
  font-size: 14px;
  margin: 0;
}
.login-form {
  margin: 40px 0 0;
}
.login-form .form-group {
  margin: 0 0 25px;
  position: relative;
}
.login-form label {
  font-size: 16px;
  margin: 0 0 8px;
  font-weight: 600;
}
.login-form .form-control {
  border: 1px solid #dcdbdd;
  border-radius: 6px;
  height: 48px;
  font-size: 14px;
  color: #000000;
  box-shadow: none;
}
.login-form .form-group .viewpass {
  position: absolute;
  top: 44px;
  right: 10px;
}
.gmail-login-btn img {
  margin-right: 10px;
}
.gmail-login-btn {
  display: block !important;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 18px;
  margin: 0 0 30px;
}
.seprate {
  position: relative;
  padding-bottom: 40px;
}
.seprate span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -12px;
  z-index: 1;
  display: block;
  background-color: #fff;
  width: 40px;
  height: 30px;
  text-transform: uppercase;
}
.seprate:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #bfbfbf;
}
.top-header {
  border-bottom: 1px solid #e0e0e0;
}
.contact-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
}
.social-icons ul {
  list-style: none;
  padding: 0;
}
.icon {
  color: #495057;
  font-size: 18px;
  transition: color 0.3s;
}
.icon:hover {
  color: var(--secondary);
}




/* ==================== Home Category ==================== */
.HomeCategory {
  padding: 50px 0;
}

.CategoryMainDiv {
  position: relative;
}

.CategoryMainDiv a img {
  width: 100%;
  height: 100%;
}

.CategoryMainDiv a .CategoryHoverText {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #273c7596;
  transform: translate(-50%, -50%);
  padding: 20px;
  opacity: 0;
  transition: all 0.6s ease;
}

.CategoryMainDiv:hover .CategoryHoverText {
  opacity: 1;
}

.CategoryMainDiv a .CategoryHoverText h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: var(--accent);
  font-size: 20px;
}

/* ==================== Popular Styles Section ==================== */
.popular-styles-section {
  padding: 20px;
}

.popularImageDiv {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popularImageDiv img {
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
}

.popularImageDiv:hover img {
  transform: scale(1.2);
}

/* ==================== Vertical Text ==================== */
/* .vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
} */

/* ==================== Main Image ==================== */
.main-image {
  object-fit: cover;
  height: 100%;
}

/* ==================== Product Section ==================== */
.product-section {
  padding: 40px;
}

.product-section .card {
  transition: transform 0.3s;
}

.product-section .card:hover {
  transform: translateY(-5px);
}

.product-section .card-img-top {
  object-fit: cover;
  height: 300px;
}

.product-section .badge {
  font-size: 0.8rem;
  margin-left: 5px;
}

.product-section .nav-link {
  color: var(--text-color);
  font-size: 17px;
}

.product-section .nav-link.active {
  font-weight: bold;
  border-bottom: 1px solid var(--primary);
  color: var(--primary);
}

.product-section .nav-link.active {
  border-color: transparent;
}

.product-section .nav-link:hover {
  border-color: transparent;
}

/* ==================== Button Design ==================== */
.button-group {
  display: flex;
  justify-content: space-between;
}

.btn-fill {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background-color: var(--secondary);
  padding: 14px 18px;
  /* border-radius: 50px; */
  border-radius: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 0;
  border: 1px solid var(--secondary);
  text-align: center;
  width: 100%;
}
.btn-fill:hover {
  background-color: #ffffff;
  color: var(--secondary);
  border-color: var(--secondary);
}
.btn-fill::before {
  position: absolute;
  content: "";
  /* border-radius: 10px; */
  border-radius: 0;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--background);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.btn-fill:hover::before {
  width: 100%;
}

.btn-outline {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary);
  background-color: var(--background);
  padding: 14px 18px;
  /* border-radius: 50px; */
  border-radius: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
  border: 1px solid var(--secondary);
  z-index: 0;
  text-align: center;
}
.btn-outline:hover {
  color: var(--background);
  background-color: var(--secondary);
}
.btn-outline::before {
  position: absolute;
  /* border-radius: 10px; */
  border-radius: 0;
  content: "";
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--secondary);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.btn-outline:hover::before {
  width: 100%;
}

.ButtonBackGround {
  display: block;
  line-height: 30px;
  font-size: 18px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  padding: 5px 25px;
  color: #fff;
}

.ButtonBackGround span {
  position: relative;
  z-index: 2;
}

.ButtonBackGround:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--primary);
  width: 100%;
  transition: all .35s;
}

.ButtonBackGround:hover {
  color: #fff;
}

/* ==================== Product Badge ==================== */
.product-badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9;
}

.badge-sale {
  background-color: var(--primary);
  /* Gold color */
}

.badge-new {
  background-color: var(--secondary);
  /* Dark secondary color */
}

.badge-hot {
  background-color: #e74c3c;
  /* Red for hot badge */
}



/* ==================== New Collection Section ==================== */
.NewCollectionSection {
  background-color: #f8f8f8;
  position: relative;
  padding-top: 50px;
}

.NewCollectionSection .row {
  /* background-color: #f8f8f8; */
}

.NewCollectionSection .NewCollectionSectionImageWrapper {
  position: relative;
}

.NewCollectionSection .NewCollectionSectionImageWrapper img {
  display: flex;
  align-items: end;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.NewCollectionSectionContent {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  color: var(--text-color);
}

.NewCollectionSectionContent h1 {
  font-size: 4rem;
  font-weight: 700;
}

.NewCollectionSectionContent p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}


/* ==================== Most Loved Section ==================== */
.SliderCol {
  height: 300px !important;
}

.ExquisiteSliderSection .swiper-button-next,
.ExquisiteSliderSection .swiper-button-prev {
  /* background: var(--secondary); */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.ExquisiteSliderSection .swiper-button-next::after,
.ExquisiteSliderSection .swiper-button-prev::after {
  font-size: 25px;
  color: var(--secondary);
}

.ExquisiteSliderSection .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  background: var(--light-text);
}

.ExquisiteSliderSection .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--primary);
}

.ExquisiteSliderSection {
  padding: 60px 0;
  /* background-color: #fafafa; */
}

.ExquisiteCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ExquisiteCol .product-card {
  margin: 50px 0;
}


/* ==================== Product Section ==================== */
.product-card {
  width: 100%;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  background: var(--background);
}

.product-links {
  position: absolute;
  top: 20px;
  right: 10px;
}

.product-links button {
  background: none;
  border: none;
  font-size: 25px;
  background-color: var(--accent);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.product-links button:hover {
  background-color: var(--primary);
  color: var(--accent);
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 0;
  background: var(--background);
  overflow: hidden;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card:hover .product-tumb img {
  transform: scale(1.2);
}


.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--light-text);
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: var(--primary);
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: var(--light-text);
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  width: 100%;
}

.product-price {
  font-size: 18px;
  color: var(--primary);
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}



/* ==================== Top Offer ==================== */
.OfferSection .TopOfferCol {
  background-image: url(../images/offer-bg.webp);
  display: block;
  height: 600px;
  background-size: cover;
  background-position: top;
  text-decoration: none;
  transition: all 0.6s ease;
  overflow: hidden;
}

.OfferSection .col-lg-6.col-12 {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.OfferSection .TopOfferCol:hover {
  transform: scale(1.2);
}

.OfferSection .TopOfferCol .TopoffercolCon span svg {
  transition: all 0.6s ease;
}

.OfferSection .TopOfferCol:hover .TopoffercolCon span svg {
  transform: translateX(10px);
}

.OfferSection .col-lg-6.col-12:last-child .TopOfferCol {
  background-image: url(../images/offer-bg2.webp)
}

.OfferSection .TopOfferCol .TopoffercolCon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: #fff;
}
.productDetailContentHalfColumn{
  width: 50%;
}






/* ==================== Filter category ==================== */

.filter-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  z-index: 1050;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.filter-sidebar.show {
  transform: translateX(0);
}

@media (min-width: 992px) {
  .filter-sidebar {
    position: static;
    transform: none;
    width: 100%;
  }
}



/* ==================== Product Details Page ==================== */
.ProductDetailsSlider.swiper {
  width: 100%;
  height: 400px;
  /* Increased height for better visual impact */
}

.ProductDetailsSlider .swiper-slide,
.ProductDetailsSliderBottom .swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ProductDetailsSlider .swiper-slide img,
.ProductDetailsSliderBottom .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.ProductDetailsSlider {
  margin-bottom: 20px;
}

.ProductDetailsSliderBottom {
  height: 80px;
  /* Reduced height for thumbnail slider */
  box-sizing: border-box;
  padding: 10px 0;
}

.ProductDetailsSliderBottom .swiper-slide {
  opacity: 0.5;
}

.ProductDetailsSliderBottom .swiper-slide-thumb-active {
  opacity: 1;
}

.product-title {
  font-size: 1.8rem;
  color: #333;
}

.product-price {
  font-size: 1.5rem;
  color: #d9534f;
  /* Red for price */
}

.product-category,
.product-shipping {
  color: #777;
}

.product-colors .color-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.bg-gold {
  background-color: #ffd700;
}

.bg-silver {
  background-color: #c0c0c0;
}

.bg-rose-gold {
  background-color: #b76e79;
}

.quantity-block input[type="number"]::-webkit-inner-spin-button,
.quantity-block input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.quantity-block input[type="number"] {
  -moz-appearance: textfield;
  width: 100%;
  text-align: center;
}
.quantity-block {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity-arrow-minus,
.quantity-arrow-plus {
  font-size: 28px;
  padding: 7px 10px 10px 10px;
  min-width: 50px;
  box-sizing: border-box;
  outline: none;
  background-color: var(--secondary);
  border: none;
  height: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity-num {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 0;
  outline: none;
  border: 1px solid #ddd;
  height: 50px;
}
.productDetailContentMainColumn{
  margin-bottom: 30px;
}
.productDetailContentMainColumn h5{
  font-size: 15px;
}
.productDetailsContentSliderColumn .productDetailsContentSlider .swiper-button-prev::after, .productDetailsContentSliderColumn .productDetailsContentSlider .swiper-button-next::after {
  font-size: 25px;
  background-color: burlywood;
  padding: 4px;
}
.productDetailsContentSliderProductColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.productDetailsContentSliderProductColumn img{
  width: 50px;
}




/* ==================== Media Queries ==================== */
@media (max-width: 767px) {
  /* .vertical-text {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 1rem;
    margin-bottom: 20px;
  } */
}

@media (max-width: 768px) {
  .card-img-top {
    height: 200px;
  }

  .hero-section {
    padding: 50px 0;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .col-md-6 {
    padding: 0 20px;
  }

  .hero-image {
    display: none;
    /* Hide image on small screens */
  }
  .productDetailContentHalfColumn{
    width: 100%;
  }
}