/* Import Google Font */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Poppins:wght@300;400;500;600&display=swap');

/* Color Variables */
:root {
  --background: #ffffff; /* Light background for elegance */
  --font-primary: "Poppins", sans-serif;

  /* Primary color for main buttons, highlights, etc. */
  --primary: #fbb72c; /* Gold for a luxurious feel */

  /* Darker shades for headers, bold text, and some accents */
  --secondary: #9D174D ; /* Deep blue for trust and stability */

  /* Soft neutral for subtle accents like dividers, backgrounds */
  --accent: #f5f5f5;

  /* Text colors */
  --text-color: #2c2c2c; /* Primary dark text */
  --light-text: #999999; /* Subtle gray text for secondary info */
  --white-text: #ffffff;

  /* Additional shades for better hover effects */
  --hover-primary: #e0a81a; /* Slightly darker gold */
  --hover-secondary: #1e2d5c; /* Darker blue for contrast */
  --border-color: #d1d1d1; /* Light gray for borders */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Headings */
 
ul,
ol {
  padding: 0 !important;
  margin: 0 !important;
}

 

/* Body Text */
p {
  font-family: var(--font-primary);
  font-weight: 400;
}

/* Links or Buttons */
a,
.btn {
  font-family: var(--font-primary);
  font-weight: 500;
  text-decoration: none !important;
}

ul,
li {
  list-style: none;
}

/* Small Text */
small {
  font-family: var(--font-primary);
  font-weight: 300;
}

.nav-item {
  padding: 0.5rem 0xp;
}

.dropdown-hover:hover > .dropdown-menu {
  display: inline-block;
}

.dropdown-hover > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

/* Poppins Font Weight Classes */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

/* MY CSS */
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
.section {
  margin: 0 auto;
  padding: 6rem 0 2rem;
}

.centered {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;
}

/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: var(--shadow-medium);
} */
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  margin: 0 auto;
}
.navbar .navbar__left {
  display: flex;
  align-items: center;
  flex: 0 0 17%;
}
.menu__arrow {
  display: none;
}
.menu__inner .menu__item.menu__dropdown .menu__link svg {
  display: none;
}
.navbar__center .menu__inner {
  margin: 0;
}
@media (max-width: 766px) {
  .navbar .navbar__left {
    flex: 0 0 auto;
  }
}
.navbar .navbar__center {
  display: flex;
}
@media (max-width: 766px) {
  .navbar .navbar__center {
    flex: 0 0 100%;
    order: 3;
    align-items: center;
  }
}
.navbar .navbar__right {
  display: flex;
  flex: 0 0 17%;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}
@media (max-width: 766px) {
  .navbar .navbar__right {
    flex: 0 0 auto;
    align-items: center;
  }
}

.brand {
  display: flex;
  align-items: center;
  order: 1;
}
.brand svg {
  width: 60px;
  height: 60px;
}

@media (max-width: 766px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    max-width: 85%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    background-color: #fff;
    transform: translate(-100%);
    transition: all 0.4s ease-in-out;
  }
  .menu.is-active {
    transform: translate(0%);
  }
  .darkmode .menu {
    background-color: var(--color2);
  }
}
.menu .menu__header {
  display: none;
  box-shadow: var(--shadow-medium);
}
@media (max-width: 766px) {
  .menu .menu__header {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    z-index: 110;
    visibility: hidden;
    background: transparent;
  }
  .menu .menu__header.is-active {
    visibility: visible;
    background-color: #fff;
  }
  .menu .menu__header.is-active > .menu__arrow {
    display: flex;
  }
}
@media (max-width: 766px) {
  .menu .menu__header .menu__arrow {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3rem;
  }
  .menu .menu__header .menu__arrow:hover i {
    color: var(--color);
  }
  .menu .menu__header .menu__arrow > i {
    font-size: 1.5rem;
    color: #000;
    transition: all 0.25s ease;
  }
}
@media (max-width: 766px) {
  .menu .menu__header .menu__title {
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
    transition: all 0.25s ease;
  }
  .menu .menu__header .menu__title:hover {
    color: var(--color);
  }
}
@media (max-width: 766px) {
  .menu .menu__inner {
    height: 100%;
    margin-top: -3rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.menu .menu__inner .menu__item {
  position: static;
  display: inline-block;
  padding-right: 20px;
  padding: 15px 20px 15px 0;
}
.menu .menu__inner .menu__item:last-child {
  padding-right: 0;
}
.menu .menu__inner .menu__item:hover > .menu__link {
  color: var(--color);
}
@media (max-width: 766px) {
  .menu .menu__inner .menu__item {
    display: block;
    padding: 0;
  }
}
@media (min-width: 767px) {
  .menu .menu__inner .menu__item:hover > .menu__link i {
    transform: rotate(-90deg);
  }
}
@media (min-width: 767px) {
  .menu .menu__inner .menu__item.menu__dropdown:hover > .submenu {
    opacity: 1;
    visibility: visible;
    top: 95%;
  }
}
.menu .menu__inner .menu__item .menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
  transition: all 0.25s ease;
}
@media (max-width: 766px) {
  .menu .menu__inner .menu__item .menu__link {
    justify-content: space-between;
    padding: 20px;
  }
}
.menu .menu__inner .menu__item .menu__link > i {
  margin-left: 5px;
  font-size: 1.35rem;
  transform: rotate(90deg);
  transition: 0.35s;
}
@media (max-width: 766px) {
  .menu .menu__inner .menu__item .menu__link > i {
    margin-left: 10px;
    transform: rotate(0deg);
  }
}
.submenu {
  position: absolute;
  z-index: 100;
  top: 110%;
  left: 50%;
  width: 100%;
  height: auto;
  padding: 20px 15px;
  border-radius: 0.25rem;
  border-top: 2px solid var(--color);
  background-color: #fff;
  box-shadow: var(--shadow-medium);
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  transform: translateX(-50%);
}
@media (max-width: 766px) {
  .submenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 100px 15px 0 15px;
    border-radius: 0;
    border-top: 0;
    box-shadow: none;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    transform: translateX(0%);
  }
  .submenu.is-active {
    display: block;
  }
}
@media (min-width: 767px) {
  .submenu {
    -webkit-animation: none !important;
    animation: none !important;
  }
}
@media (min-width: 767px) {
  .submenu.megamenu__normal {
    left: 65%;
    max-width: 250px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
@media (min-width: 767px) {
  .submenu.megamenu__text,
  .submenu.megamenu__image {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
  }
}
@media (min-width: 975px) {
  .submenu.megamenu__text,
  .submenu.megamenu__image {
    max-width: 100%;
  }
}
.submenu.megamenu__image .submenu__inner a {
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media (max-width: 766px) {
  .submenu.megamenu__image .submenu__inner a {
    flex-flow: row;
    align-items: center;
    padding-bottom: 20px;
  }
}
.submenu.megamenu__image .submenu__inner a img {
  display: block;
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 766px) {
  .submenu.megamenu__image .submenu__inner a img {
    width: 30%;
    height: 80px;
    margin-bottom: 0;
    margin-right: 15px;
  }
}
.submenu .submenu__inner {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 20px;
}
.submenu .submenu__inner .submenu__list {
  padding-left: 10px !important;
}
@media (max-width: 766px) {
  .submenu .submenu__inner {
    width: 100%;
    padding: 0;
  }
}
.submenu .submenu__inner .submenu__title {
  font-size: 15px;
  font-weight: 600;
  color: var(--color);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
@media (max-width: 766px) {
  .submenu .submenu__list {
    margin-bottom: 20px;
  }
}
.submenu .submenu__list li {
  display: block;
  line-height: 1;
  margin: 0 auto;
}
.submenu .submenu__list li a {
  padding: 10px 0;
  line-height: 1.4;
  text-transform: capitalize;
  color: #000;
  transition: all 0.25s ease-in-out;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  column-gap: 4px;
  align-items: center;
}
.submenu .submenu__list li a:hover {
  color: var(--secondary);
  text-decoration: underline !important;
}
@media (max-width: 766px) {
  .submenu .submenu__list li a {
    display: block;
  }
}

.switch {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
}
.switch .switch__light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in;
}
.switch .switch__light {
  font-size: 20px;
  visibility: visible;
  color: #000;
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.45s ease-in-out;
  pointer-events: none;
}
@media (max-width: 766px) {
  .overlay {
    cursor: url("https://i.imgur.com/cPh9Zm5.png"), zoom-out;
    pointer-events: visible;
  }
  .overlay.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 25px;
  height: 15px;
  margin-right: 15px;
  background: transparent;
}
@media (max-width: 766px) {
  .burger {
    display: block;
  }
  .menu__inner .menu__item.menu__dropdown .menu__link svg {
    display: block;
  }
}
.burger .burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border-radius: 15px;
  background: #000;
}
.burger .burger-line:nth-child(1) {
  top: 0px;
}
.burger .burger-line:nth-child(2) {
  top: 8px;
  width: 70%;
}
.burger .burger-line:nth-child(3) {
  top: 16px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.SwiperBanners {
  height: 700px !important;
}
.SwiperBanners img {
  object-position: top;
}
